@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:ital,wght@0,100;1,300&display=swap');


body{
    margin-top: 10%;
    text-align: center;
    justify-content: center;
    text-shadow: 3px;
}
button{
    margin-top:30px;
    width: 30%;
color:blue
;}
    
    
 #tellajoke  {
    display: inline-block;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.punchlinebtn{display: none;
    justify-content: center;
    text-align: center;
    align-items: center;
    
}
    .reset{display: none;
        justify-content: center;
        text-align: center;
        align-items: center;}